<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" href="dep/flickity.min.css">
	<link rel="stylesheet" href="dep/leaflet.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="main.css">

	<script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
	<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
	<title>knowlo</title>

</head>

<body>

	<div id="main">

		<div id="nav-slide" class="navbar-fixed">
			<nav class='blue'>
				<div class="nav-wrapper">
					<router-link to="/" class="brand-logo center thin">knowlo</router-link>
					<ul class="left ">
						<li><a data-activates="slide-out" class="navbar-collapse show-on-large"><i class="material-icons">menu</i></a></li>
					</ul>
					<ul class="right ">
						<li v-if="!member">
							<a data-target="login-modal" class="hide-on-med-and-down">Login | Sign Up</a>
						  <!-- show icon on medium and down? no materialize-css class for it -->
							<!-- <a data-target="login-modal" class="show-on-med-and-down"><i class="material-icons fa fa-lg fa-sign-in"></i></a> -->
						</li>
						<li v-else v-cloak>
							<!-- member icon here? -->
							{{member.first}}
						</li>
						<li><a data-activates="query-slide" class="termQuery-collapse show-on-large "><i class="material-icons">menu</i></a></li>
					</ul>
				</div>
			</nav>
		</div>


		<sidebar :member="member"></sidebar>


		<!--
		███████ ██ ██████  ███████ ██████   █████  ███████ ███████     ██       ██████   ██████  ██ ███    ██     ██    ██ ██
		██      ██ ██   ██ ██      ██   ██ ██   ██ ██      ██          ██      ██    ██ ██       ██ ████   ██     ██    ██ ██
		█████   ██ ██████  █████   ██████  ███████ ███████ █████       ██      ██    ██ ██   ███ ██ ██ ██  ██     ██    ██ ██
		██      ██ ██   ██ ██      ██   ██ ██   ██      ██ ██          ██      ██    ██ ██    ██ ██ ██  ██ ██     ██    ██ ██
		██      ██ ██   ██ ███████ ██████  ██   ██ ███████ ███████     ███████  ██████   ██████  ██ ██   ████      ██████  ██
		-->

		<div id="login-modal" class="modal">
			<div class="modal-content">
	      <h4>Login | Sign Up</h4>
				<div id="firebaseui-auth-container"></div>
	    </div>
			<div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-blue btn-flat">Close</a>
    </div>
		</div>

		<router-view :term-query="termQuery" :member="member" style="padding-top:90px"></router-view>

		<!-- terms for query -->
		<div id="query-slide" class="side-nav">
			<div class="right selectedterms">
				<isotope class="termQuery" ref="termQuery" :list="termQuery" :options='{}'>
					<span  v-for="term in termQuery" key="term.name">
						<term :term="term" ></term>
					</span>
				</isotope>
			</div>
		</div>

		<!-- footer -->
		<footer class="page-footer blue">
			<div class="container">
				<div class="row">
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container center">knowlo</div>
				<a style="margin-left:20px; margin-top:5px; position:absolute;" href="https://github.com/bornytm/knowlo"><img style="width:25px" src="/github.png"></a>
			</div>
		</footer>
	</div>

	<!--
	███████ ██   ██ ██████  ██       ██████  ██████  ███████
	██       ██ ██  ██   ██ ██      ██    ██ ██   ██ ██
	█████     ███   ██████  ██      ██    ██ ██████  █████
	██       ██ ██  ██      ██      ██    ██ ██   ██ ██
	███████ ██   ██ ██      ███████  ██████  ██   ██ ███████
	-->

	<template id="exploreTemplate">
		<div>
			<!-- view for term and resource page -->
			<router-view :member="member" ></router-view>

			<!-- sort FAB -->
			<!-- <div class="fixed-action-btn click-to-toggle">
		    <a class="btn-floating btn-large blue">
		      <i class="fa fa-2x fa-sort material-icons"></i>
		    </a>
		    <ul>
		      <li>
						<a class="btn-floating blue hoverable"><i class="material-icons">insert_chart</i></a>
						<a href="#" class="btn-floating mobile-fab-tip">Edit</a>
					</li>
					<li><a class="btn-floating blue hoverable" @click="sort('original-order')">original order</a></li>
					<li><a class="btn-floating blue hoverable" @click="shuffle()"><i class="material-icons right">shuffle</i></a></li>
					<li class="btn-floating blue" v-for="(key, val) in getSortData"><a @click="sort(key)">{{key}}</a></li>
		    </ul>
		  </div> -->
			<!-- <div class="fixed-action-btn horizontal">
		    <a class="btn-floating btn-large red">
		      <i class="large material-icons">mode_edit</i>
		    </a>
		    <ul>
		      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
		      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
		      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
		      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
		    </ul>
		  </div> -->

		<div class='container'>
		    <div class='row'>
		     <div style="height:40px"></div>   <!---temporary filler? -->
		      <div class="input-field col s10 offset-s1">
		        <input type='text' id='search'  @keyup="filter('contains')" v-model="searchStr">
		        <label for='search'>search</label>
		      </div>
		    </div>

				<autocomplete></autocomplete>

				<vue-typeahead
						v-model="value"
            display-key='value'
            classes="form-control"
            remote="/term/autocomplete"
            v-on:selected="done">
        </vue-typeahead>

				<!-- term query  -->
		    <div class='row'>
		        <isotope style="min-height:80px" ref="termQuery" :list="termQuery" :options='getSelectedOptions()'>
		          <div  v-for="word in termQuery"  class='selected' v-bind:class="{ expanded: word.status.expanded }" key="word.name">
		            <term class="expandedFlex" :term="word" v-on:add-me="addToFrom(word, words, termQuery)" v-on:lay-me="layout"></term>
		          </div>
		        </isotope>
		    </div>

				<!--  suggested -->
		    <div class='row'>
		        <isotope ref="key" :list="words" :options='getSuggestionOptions()' class="step">
		          <div v-for="word in words"  class='suggestion' v-bind:class="{ expanded: word.status.expanded }" key="word.name">
								<term class="expandedFlex" :term="word"  v-on:add-me="addToFrom(word, termQuery, words)" v-on:lay-me="layout" ></term>
		          </div>
		        </isotope>
		    </div>

		    <div class="center pad margin20">
  				<span class="viewBtn" @click="changeDisplay('list')"><i class="material-icons">view_list</i></span>
  				<span class="viewBtn" @click="changeDisplay('card')"><i class="material-icons">dashboard</i></span>
					<span class="viewBtn" @click="changeDisplay('thumb')"><i class="material-icons">dialpad</i></span>
  				<br/>
				</div>
				<div class="flexCenter margin20">
					<div class="btn blue dropdown-button" data-activates='lens' data-hover="true">lens</div>
  		    <ul id='lens' class='dropdown-content'>
						<li><a @click="changeLens(bigHistory)">Big History</a></li>
						<li><a @click="changeLens(size)">Size</a></li>
						<li><a @click="changeLens(null)">none</a></li>
  		    </ul>
				</div>

				<div class="flexCenter margin20">
					<div class="btn blue dropdown-button" data-activates='sortOp' data-hover="true">sort order</div>
  		    <ul id='sortOp' class='dropdown-content'>
  		      <li><a @click="sort('original-order')">original order</a></li>
  					<li><a @click="shuffle()">Shuffle<i class="material-icons right">shuffle</i></a></li>
  		      <li v-for="(key, val) in getSortData"><a @click="sort(key)">{{key}}</a></li>
  		    </ul>
				</div>

			</div>
			<div>
				<transition name="fade">
				<!-- results by cross section -->
				<div v-if="crossSection" >
					<div class=" crossSectionNav ">
						<!-- flick navigation for isotope containers -->
						<div v-for="step in crossSection.members" class="navItems">
							<term :term="step"></term>
						</div>
					</div>
					<!-- isotope contianers -->
					<div class=" crossSectionSteps">
						<div v-for="step in crossSection.members" class="stepContainer">
							<isotope :ref='"resourceBin" + step.name' class="step" :list="db" :options='getIsotopeOptions(step.name)'>
								<div  v-for="item in db" v-if="item.time.includes(step.name) || item.discipline.includes(step.name)" key="item.name">
				          <div v-if="display == 'thumb'" class="thumb margin20 card-image waves-effect waves-block waves-light z-depth-1 hoverable">
				              <router-link  :to="{ name: 'resourceSub', params: { id: item.videoid }}">
				                <img :src="item.thumb">
				              </router-link>
				          </div>
								 <router-link :to="{ name: 'resourceSub', params: { id: item.videoid }}" v-if="display == 'list'" class="list hoverable waves-effect waves-light" >
									<a>
										<span class='truncate thin '>{{item.title}}</span>
									</a>
								 </router-link>
				          <div  v-if="display == 'card'" class="card hoverable">
				            <div class='card-image'>
				                <router-link :to="{ name: 'resourceSub', params: { id: item.videoid }}">
				                  <img :src="item.thumb" class='card-image' alt="Not found">
				               </router-link>
				            </div>
				            <div class='card-content'>
				                <span class='title'>{{item.title}}</span>
				                <p class="truncate">{{item.author}}</p>
				            </div>
				            <div class='card-action'>
				              <span class='left card-bottom'><i class="tiny material-icons">visibility</i>{{trimNumber(item.viewcount,1)}}</span>
				              <span class='right card-bottom'>{{item.rating.toString().substring(0,3)}}<i class="tiny material-icons">star</i></span>
				            </div>
					        </div>
								</div>
							 </isotope>
						</div>
					</div>
				</div>
				</transition>

				<!-- results all together -->
				<transition name="fade">
				<div v-if="!crossSection" >
			    <isotope ref="contentBin" class="step" :list="list" :options='getContentOptions()' id="container">
			        <div v-for="item in list" class='element-item' key="item.name">
			          <div v-if="display == 'thumb'" class="thumb margin20 card-image waves-effect waves-block waves-light z-depth-1 hoverable">
			              <router-link :to="{ name: 'resource', params: { id: item.videoid }}">
			                <img :src="item.thumb">
			              </router-link>
			          </div>
							 <router-link  :to="{ name: 'resourceSub', params: { id: item.videoid }}" v-if="display == 'list'" class="list hoverable waves-effect waves-light" >
								<a>
									<span class='truncate thin '>{{item.title}}</span>
								</a>
							 </router-link>
			          <div  v-if="display == 'card'" class="card hoverable">
			            <div class='card-image'>
			                <router-link :to="{ name: 'resourceSub', params: { id: item.videoid }}">
			                  <img :src="item.thumb" class='card-image' alt="Not found">
			               </router-link>
			            </div>
			            <div class='card-content'>
			                <span class='title'>{{item.title}}</span>
			                <p class="truncate">{{item.author}}</p>
			            </div>
			            <div class='card-action'>
			              <span class='left card-bottom'><i class="tiny material-icons">visibility</i>{{trimNumber(item.viewcount,1)}}</span>
			              <span class='right card-bottom'>{{item.rating.toString().substring(0,3)}}<i class="tiny material-icons">star</i></span>
			            </div>
								</div>
			        </div>
			      </isotope>
					</div>
				</transition>


				<div class="flexCenter" v-show="this.numberOfDisplayed === 0">
					<p>
						no results! Have someting you want to add?
					</p>
				</div>
		</div>
		</div>
	</template>

	<!--
	██████  ███████ ███████  ██████  ██    ██ ██████   ██████ ███████     ██████   █████   ██████  ███████
	██   ██ ██      ██      ██    ██ ██    ██ ██   ██ ██      ██          ██   ██ ██   ██ ██       ██
	██████  █████   ███████ ██    ██ ██    ██ ██████  ██      █████       ██████  ███████ ██   ███ █████
	██   ██ ██           ██ ██    ██ ██    ██ ██   ██ ██      ██          ██      ██   ██ ██    ██ ██
	██   ██ ███████ ███████  ██████   ██████  ██   ██  ██████ ███████     ██      ██   ██  ██████  ███████
	-->


<template id="resourceTemplate" @keyup.esc="close">
	<div :id="'resourceModal'+resource.videoid" class="modal fullPage resource-modal"  >

		<router-link to="/" class="exit hide-on-med-and-down" ><i class="fa fa-3x fa-times"></i></router-link>
		<!-- the resource -->
		<div class="resource-container">
			<!-- image -->
			<div v-if='resource.displayType=="image"' id="image-map"></div>

			<!--  youtube/vimeo -->
			<div v-if='resource.displayType=="embed"' class="video-container ">
				 <iframe :src="'http://youtube.com/embed/'+resource.videoid"></iframe>
			</div>

			<!-- website -->
			<div v-if='resource.displayType=="webpage"' class="website-container">
				<iframe :src="resource.siteURL"></iframe>
			</div>

			<!-- text -->
			<!-- <div class="text-container">
			</div> -->

		</div>

		<div class="resourceMeta">
			<div class="resourceNav">
			 <!-- flick navigation for isotope containers -->
			 <div v-for="step in resourceSection" class="navItems">
				 <p>
					{{step}}
				 </p>
			 </div>
			</div>
			<!-- isotope contianers -->
			<div class="resourceSections">

				<div class="resourceStep">
					Activity
				</div>
				<div class="resourceStep" >
					<term v-for="term in terms" :term="term" key="term.name"></term>
					<autocomplete></autocomplete> <!-- make this add/search component instead? -->
				</div>
				<div class="resourceStep">
					Vote
				</div>
				<div class="resourceStep">
					Stats
				</div>
				<div class="resourceStep">
					Related
				</div>

		 </div>
		</div>


 </div>
</template>

<!--
████████ ███████ ██████  ███    ███     ██████   █████   ██████  ███████
   ██    ██      ██   ██ ████  ████     ██   ██ ██   ██ ██       ██
   ██    █████   ██████  ██ ████ ██     ██████  ███████ ██   ███ █████
   ██    ██      ██   ██ ██  ██  ██     ██      ██   ██ ██    ██ ██
   ██    ███████ ██   ██ ██      ██     ██      ██   ██  ██████  ███████
-->


<template id="termTemplate">
	<div :id="'termModal'+term.id" class="modal fullPage">
		<div class="termTitle" >
			<term :term="term"></term>
			<p>
				{{term.name}}
			</p>
		</div>
		<!-- flick navigation for isotope containers -->
		<div class="termMeta">
			<div class="termNav">
				<div v-for="step in termSection" class="navItems">
					<p>
						{{step}}
					</p>
				</div>
			</div>
			<div class="termSections">
				<div v-for="step in termSection" class="stepContainer">{{step}}</div>
			</div>
			</div>
	</div>
</template>

<!--
 █████  ██████  ██████      ██████  ███████ ███████  ██████  ██    ██ ██████   ██████ ███████
██   ██ ██   ██ ██   ██     ██   ██ ██      ██      ██    ██ ██    ██ ██   ██ ██      ██
███████ ██   ██ ██   ██     ██████  █████   ███████ ██    ██ ██    ██ ██████  ██      █████
██   ██ ██   ██ ██   ██     ██   ██ ██           ██ ██    ██ ██    ██ ██   ██ ██      ██
██   ██ ██████  ██████      ██   ██ ███████ ███████  ██████   ██████  ██   ██  ██████ ███████
-->
<template id="addTemplate" :term-query="termQuery" :member="member">
	<div id="addModal" class="modal fullPage">
		<h1>Identify</h1>
		<!--  here the user provides the url of the resource , or, eventually the file to be uploaded or the text -->
		<div class="row">
    <form class="col s12">

			<div class="row" v-if="">
        <div class="input-field col s12">
          <input v-model="resource.URL" id="url" type="url" class="validate">
          <label for="url">URL</label>
        </div>
      </div>

			<!-- <div class="row" v-else>
        <div class="input-field col s12">
          <textarea v-model="resource.translations.text" id="text" class="materialize-textarea"></textarea>
          <label for="text">Text</label>
        </div>
      </div> -->

      <div class="row">
        <div class="input-field col s12">
          <input v-model="resource.translations.title" id="title" type="text" class="validate">
          <label for="title">Title</label>
        </div>
      </div>
			<div class="row">
        <div class="input-field col s12">
          <input v-model="resource.translations.subtitle" id="subtitle" type="text" class="validate">
          <label for="subtitle">Brief description (subtitle)</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea v-model="resource.translations.description" id="description" class="materialize-textarea"></textarea>
          <label for="description">Full description</label>
        </div>
      </div>

			<div class="row">
        <div class="input-field col s12">
          <textarea v-model="resource.translations.value" id="value" class="materialize-textarea"></textarea>
          <label for="value">Why is this resource valuable?</label>
        </div>
      </div>
    </form>
		<div class="btn" @click='saveTranslation'>
			Next
		</div>
  </div>
		<h1>Tag</h1>
		<autocomplete></autocomplete>
	</div>
</template>
	<!--
	██       █████  ███    ██ ██████  ██ ███    ██  ██████
	██      ██   ██ ████   ██ ██   ██ ██ ████   ██ ██
	██      ███████ ██ ██  ██ ██   ██ ██ ██ ██  ██ ██   ███
	██      ██   ██ ██  ██ ██ ██   ██ ██ ██  ██ ██ ██    ██
	███████ ██   ██ ██   ████ ██████  ██ ██   ████  ██████
	-->

	<template id="landingTemplate">
		<main>
			<div class="section no-pad-bot" id="index-banner">
				<div class="container">
					<br>
					<br>
					<h1 class="header center blue-text thin">knowlo</h1>
					<div class="row center">
						<h4 class="header col s12 light">collective insight</h4>
						<!-- <h5 class="header col s12 light">It's about learning from each other.</h5> -->
						<h5 class="header col s12 light">We're all giants.</h5>
					</div>
					<div class="row center">
						<router-link to="/" class="btn-large waves-effect waves-light blue">explore</router-link>
					</div>
					<br>
					<br>

				</div>
			</div>
			<div class="container">
				<div class="section">

					<!--   Icon Section   -->
					<div class="row">
						<div class="col s12 m4">
							<div class="icon-block">
								<h2 class="center light-blue-text"><i class="material-icons large">collections</i></h2>
								<h5 class="center">the best explanations</h5>

								<p class="light">Gather and rank the most insightful images, articles, and videos on every subject.</p>
							</div>
						</div>

						<div class="col s12 m4">
							<div class="icon-block">
								<h2 class="center light-blue-text"><i class="material-icons large">explore</i></h2>
								<h5 class="center">universal context</h5>

								<p class="light">Develop a holistic perspective and see the big picture by understanding big ideas across the time and size scales of the universe.</p>
							</div>
						</div>

						<div class="col s12 m4">
							<div class="icon-block">
								<h2 class="center light-blue-text"><i class="material-icons large">group</i></h2>
								<h5 class="center">see further</h5>

								<p class="light">Test and expand the depth of your knowledge by contributing questions, answers, comments, criticims, and insights.</p>
							</div>
						</div>

					</div>

					<div class="row">
						<ul class="collapsible" data-collapsible="accordion">
								<li>
									<div class="collapsible-header active"><i class="fa fa-lightbulb-o"></i>What is Knowlo?</div>
									<div class="collapsible-body">
										<span>
											<p>Right now? Not much more than a collection of interesting videos. However, the intention is for knowlo to become the best place to stand on the shoulder of giants.</p>
											<p>In truth, we're all giants and can learn from one another. Knowlo is about getting the ideas and people together in the same platform.</p>
											<!-- <p>It's a place where anyone can develop a <span class="bold">Universal Literacy</span> and track their progress along the way.</p> -->
											<!-- <p>Thanks to the internet, the sum of human knowledge is at our fingertips. But, there is no guide and it's difficult to search for something if you don't know that it exists.</p> -->
											<!-- <p>Knowlo wants to provide a map of human knowledge and provide the means for anyone to explore its depths.</p> -->
											<!-- To show the best paths to the highest summits and to illustrate the current edges while provide the tools to expand them. -->
											<!-- <p>This map across all of time and size provides context for how our best insights relate to one another and are fundamentally part of the same fabric.</p> -->
											<!-- <p>The goal is to make this map personal. To help you in identifying the current limits of your knowledge and how to expand it.</p> -->
									</span>
									</div>
								</li>
								<li>
									<div class="collapsible-header active"><i class="fa fa-book"></i>What is Universal Literacy?</div>
									<div class="collapsible-body">
										<span>
											<p>Universal literacy is a curriculum of the big ideas across the time and size scales of the universe.</p>
											<p>It's about developing a basic understanding of our best explanations for what there is and how it works.</p>
											<!-- <p>The major concepts, big ideas, probing questions, jargon, experiments, and evidence within every discipline are explicitly highlighted along with the best materials for learning about them.</p> -->
											<!-- <p>It uses the time and size scales of the universe as a framework to organize it all.</p> -->
										</span>
									</div>
								</li>
							</ul>
					</div>

				</div>
				<br>
				<br>

			</div>
		</main>
	</template>

	<!--
████████  █████   ██████
   ██    ██   ██ ██
   ██    ███████ ██   ███
   ██    ██   ██ ██    ██
   ██    ██   ██  ██████
-->
<template id="termContainer">
	<span>
		<div class="termWidth">
			<div class="menu" @mouseenter="delayHover()" @mouseleave="leave()" v-bind:class="{'active': hover}">
				<div class="">

					<div @click="focus()" class="mbtn trigger" v-bind:class="{'scaleIcon': hover}">
						<span v-if="!term.url" class="flexCenter border"> {{term.name[0]}}</span>
						<div v-else class="thumb card-image border">
							<img :src="term.url">
						</div>
					</div>

					<!-- need a better way to determine when in sidebar... -->
					<div id="hoverPad" v-if="inSidebar">
					</div>

					<div class="icons">
						<div class="rotater">
							<div @click="pin(term)" class="mbtn mbtn-icon flexCenter" :class="{showPin: pinned, pinNav: hover && inSidebar }">
								<i class="fa fa-thumb-tack" style="transform:rotate(-45deg)"></i>
							</div>
						</div>
						<div  v-if="!expanded" class="rotater">
							<div class="mbtn mbtn-icon flexCenter" @click="bigSmallterm(term)" :class="{'nope':!term.group, expandNav: hover && inSidebar}">
								<i class="fa fa-expand"></i>
							</div>
						</div>
						<div  v-if="expanded" class="rotater">
							<div class="mbtn mbtn-icon flexCenter" @click="bigSmallterm(term)" :class="{showCompress: expanded, expandNav: hover && inSidebar}">
								<i class="fa fa-compress"></i>
							</div>
						</div>
						<div class="rotater">
							<router-link :to="{ name: 'termSub', params: { id: term.name }}">
								<div class="mbtn mbtn-icon flexCenter":class="{showInfo: info, infoNav: hover && inSidebar }">
									<i class="fa fa-info"></i>
								</div>
							</router-link>

						</div>
						<div class="rotater">
							<div @click="addToFrom('', 'exclude')" class="mbtn mbtn-icon flexCenter" :class="{showMinus: exclude, excludeNav: hover && inSidebar }">
								<i class="fa fa-minus"></i>
							</div>
						</div>
						<div class="rotater">
							<div @click="addToFrom(term, 'include')" class="mbtn mbtn-icon flexCenter" :class="{showPlus: include, includeNav: hover && inSidebar }">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="rotater">
							<div @click="addToFrom(term, 'focus')" class="mbtn mbtn-icon flexCenter"  :class="{showFocus: focus, focusNav: hover && inSidebar }">
								<i class="fa fa-crosshairs"></i>
							</div>
						</div>
						<div class="">
							<div @click="addToFrom(term, 'remove')" class="mbtn mbtn-icon flexCenter" :class="{removeNav: hover && inSidebar }">
								<i class="fa fa-times"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="nameholder">
				<div class="name">
					{{term.name}}
				</div>
			</div>
		</div>

	 <transition name="fade">
			<div v-if="expanded" :class="'flickContainer'+term.name" class=" flickContainer ">
				<div v-for="item in term.members" class="flickItem">
					<term :term="item" v-on:add-me="addFromSub(item)"></term>
				</div>
			</div>
		</transition>
	</span>
</template>
<template id="autocomplete">
	<!-- search with typeahead -->
	<div class="row" style="margin-bottom:100px">
		<div class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">search</i>
					<input type="text" id="autocomplete-input" class="autocomplete">
					<label for="autocomplete-input">Term name</label>
				</div>
			</div>
		</div>
	</div>
</template>
<!--
███████ ██ ██████  ███████ ██████   █████  ██████
██      ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██   ██ █████   ██████  ███████ ██████
     ██ ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██████  ███████ ██████  ██   ██ ██   ██
-->
<template id="side-nav-template">
	<ul id="slide-out" class="side-nav">
	 <!-- <li><div class="userView">
		 <div class="background">
			 <img src="thumbs\_6xlNyWPpB8_MEDIUM_sddefault.jpg">
		 </div>
		 <a href="#!member"><img class="circle" src="thumbs\-EJOO3xAjTk_MEDIUM_sddefault.jpg"></a>
		 <a href="#!name"><span class="white-text name">John Doe</span></a>
		 <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
	 </div></li> -->
	 <!-- <li><div class="divider"></div></li> -->
	 <li><a href="#" class="subheader" id="navName">Knowlo</a></li>
		<li><div class="divider"></div></li>
		<li v-if="!member"><a data-target="login-modal" class="waves-effect"><i class="fa fa-lg fa-sign-in"></i>Login | Sign Up</a></li>
		<li v-else><a @click="signOut()" class="waves-effect"><i class="fa fa-lg fa-sign-out"></i>Log Out</a></li>
		<li><div class="divider"></div></li>
		<li><a class="subheader"></a></li>
	 <!-- <li><router-link class="waves-effect" to="/home"><i class="fa fa-lg fa-home"></i>Home</router-link></li> -->
	 <!-- <li><router-link class="waves-effect" to="/profile"><i class="fa fa-lg fa-user"></i>Profile</router-link></li> -->
	 <li><router-link class="waves-effect" to="/"><i class="fa fa-lg fa-compass"></i>Explore</router-link></li>
	 <!-- <li><router-link class="waves-effect" to="/trending"><i class="material-icons">trending_up</i>Trending</router-link></li> -->
	 <li><router-link class="waves-effect" to="/status"><i class="fa fa-lg fa-area-chart"></i>Status | Stats</router-link></li>
	 <li><a class="subheader"></a></li>
		<li><div class="divider"></div></li>
	 <li><router-link class="waves-effect" to="/land"><i class="fa fa-lg fa-info"></i>About</router-link></li>
	 <li><router-link class="waves-effect" to="/principals"><i class="fa fa-lg fa-lightbulb-o"></i>Principals</router-link></li>
	 <li><router-link class="waves-effect" to="/involved"><i class="fa fa-lg fa-users"></i>Get Involved</router-link></li>
	 <li><router-link class="waves-effect" to="/legal"><i class="fa fa-lg fa-gavel"></i>Legal</router-link></li>
	 <li><a class="waves-effect" target="blank" href="http://github.com/bornytm/knowlo"><i class="fa fa-lg fa-github"></i>Code | Github</a></li>
	</ul>
</template>

<!--
██████  ██████  ██ ███    ██  ██████ ██ ██████   █████  ██      ███████
██   ██ ██   ██ ██ ████   ██ ██      ██ ██   ██ ██   ██ ██      ██
██████  ██████  ██ ██ ██  ██ ██      ██ ██████  ███████ ██      ███████
██      ██   ██ ██ ██  ██ ██ ██      ██ ██      ██   ██ ██           ██
██      ██   ██ ██ ██   ████  ██████ ██ ██      ██   ██ ███████ ███████
-->

<template id="principals">
	<div>
		<div class="flexCenter margin20">
			<i class="fa fa-5x fa-lightbulb-o"></i>
		</div>
		<h2 class="thin center">
			Principles
		</h2>
		<div class="row">
		    <div class="col s12 m9 l10">
		      <div id="introduction" class="section scrollspy">
		        <h4 class="thin">Introduction </h4>
		      </div>

		      <div id="transparency" class="section scrollspy">
		        <h4 class="thin">Default to Transparency </h4>
		      </div>

					<div id="community" class="section scrollspy">
		        <h4 class="thin">Community Driven </h4>
		      </div>

					<div id="ReciprocalSharing" class="section scrollspy">
		        <h4 class="thin">Reciprocal Sharing </h4>
		      </div>

		      <div id="PrivatleyPublic" class="section scrollspy">
		        <h4 class="thin">Privately Public </h4>
						<p>
							Privately Public is a way of sharing information about yourself without losing your anonymity.
						</p>
						<!-- Private, public, privatley public - graphic? -->
		      </div>

					<div id="cost" class="section scrollspy">
		        <h4 class="thin">No Cost Barriers - Proportinal Subscription</h4>
		      </div>

					<div id="DigitalCommons" class="section scrollspy">
		        <h4 class="thin">Digital Commons </h4>
		      </div>

		    </div>
		    <div class="col hide-on-small-only m3 l2 table-of-contents-holder">
		      <ul class="section table-of-contents">
		        <li><a href="#introduction">Introduction</a></li>
		        <li><a href="#transparency">Default to Transparency</a></li>
						<li><a href="#community">Community Driven</a></li>
						<li><a href="#ReciprocalSharing">Reciprocal Sharing</a></li>
						<li><a href="#PrivatleyPublic">Privately Public</a></li>
						<li><a href="#cost">Flexible Cost</a></li>
						<li><a href="#DigitalCommons">Digital Commons</a></li>
		      </ul>
		    </div>
		  </div>
	</div>
</template>

</body>

<!--
███████  ██████ ██████  ██ ██████  ████████ ███████
██      ██      ██   ██ ██ ██   ██    ██    ██
███████ ██      ██████  ██ ██████     ██    ███████
     ██ ██      ██   ██ ██ ██         ██         ██
███████  ██████ ██   ██ ██ ██         ██    ███████
-->

<!-- <script src="videos.js"></script> -->
<script src="part1.js"></script>
<script src="part2.js"></script>
<script src="keywords.js"></script>
<script src="content.js"></script>
<script src="lens.js"></script>

<script>
videos = videos.concat(videos2) // combine split json (split becuase it was too large as a single file for simplehttpserver)
</script>

<!-- firebase -->
<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBEB96pSPjTN0F3CKaQUNoaSJiQHLc5pEM",
    authDomain: "knowlo-952cc.firebaseapp.com",
    databaseURL: "https://knowlo-952cc.firebaseio.com",
    storageBucket: "knowlo-952cc.appspot.com",
    messagingSenderId: "361390483938"
  };
  firebase.initializeApp(config);
</script>

<!-- firebase auth -->
<script type="text/javascript">

      // FirebaseUI config.
      var uiConfig = {
        signInSuccessUrl: '/#/profile',
        signInOptions: [
          firebase.auth.GoogleAuthProvider.PROVIDER_ID,
					firebase.auth.FacebookAuthProvider.PROVIDER_ID,
					firebase.auth.GithubAuthProvider.PROVIDER_ID,
          firebase.auth.EmailAuthProvider.PROVIDER_ID
        ],
        // Terms of service url.
        tosUrl: 'knowlo.io/#/legal'
      };

      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // The start method will wait until the DOM is loaded.
      ui.start('#firebaseui-auth-container', uiConfig);
    </script>

<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>


<script src="dep\jquery.min.js"></script>
<script src="dep\vue.js"></script>
<script src="dep\vue-router.min.js"></script>
<script src="dep\lodash.min.js"></script>
<script src="dep\isotope.pkgd.min.js"></script>
<script src="dep\vue_isotope.js"></script>
<script src="dep\imagesloaded.pkgd.min.js"></script>
<script src="dep\flickity.pkgd.min.js"></script>
<script src="dep\js.cookie.js"></script>
<script src="dep\headroom.min.js"></script>
<script src="dep\leaflet.js"></script>
<script src="dep\materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>

<script src="navSectionTemplates.js"></script>
<script src="pages.js"></script>
<script src="components.js"></script>
<script src="main.js"></script>

<!-- analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50613674-3', 'auto');
  ga('send', 'pageview');

</script>

</html>
